<div class="other-container">
  <div class="col-md-3"></div>
  <div class="col-md-3 pic">
    <img src="/assets/Stephen_Pyo.jpg">
  </div>
  <div class="col-md-3 bio">
    <p>Stephen Pyo is a photographer and breakdancer born and raised in Staten Island. Originally a dancer, being behind the camera frequently piqued his interest in taking the shots instead of being in the shot, and gave the other side of the lens a chance. He saved up enough money delivering Chinese food and bought his first camera. Till this day, he continues to express himself through both creative outlets and enjoys fusing both dance and photography worlds together. If he's not in the middle of a breakdancing circle, you can find him in Queens where he currently resides, capturing the many moments of New York.</p>
  </div>
  <div class="col-md-3"></div>
</div>