<div class="other-container">
  THIS IS THE ABOUT PAGE
  <div class="hi col-md-2"></div>
  <div class="hi col-md-3"></div>
  <div class="hi col-md-2"></div>
  <div class="hi col-md-3"></div>
  <div class="hi col-md-2"></div>
</div>