<div class="other-container">
  <div class="col-md-3"></div>
  <div class="col-md-3 pic">
    <img src="/assets/Stephen_Pyo.jpg">
  </div>
  <div class="col-md-3 bio">
    <p>Since 2003, Stephen has been bboying and competing and various events at breakdance battles across the United States. He has managed and choreographed for two different dance teams and performed shows locally and overseas. He has made television appearances in Americas Best Dance Crew and The Discovery Channels Slow Motion Tuesdays segment. He has been teaching breakdancing for the past 5 years. Currently, Stephen is continuing to compete and perform as well as teach breakdancing. Stephen holds a BA in psychology from the University at Rutgers and resides in Woodbridge NJ.</p>
  </div>
  <div class="col-md-3"></div>
</div>