

<div class="row">
  <div class="col-md-8" style="height:500px;background-color:green;">
    <div class="row" style="height:50%;background-color:red;">
      <div class="col-md-12">
        <p>A</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <p>B</p>
      </div>
      <div class="col-lg-6" >
        <p>C</p>
      </div>
    </div>
  </div>
  <div class="col-md-4" style="height:500px;background-color:black">

  </div>
</div>