<div class="pic-container">
  <div class="dance-wrapper">
    <div class="column">
      <a class="fancybox" href="/assets/dance/1.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/dance/2.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/dance/3.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/dance/4.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/dance/5.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/dance/6.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/dance/7.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/dance/8.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/dance/9.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/dance/10.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/dance/11.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/dance/12.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/dance/13.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/dance/14.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/dance/15.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/dance/16.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/dance/17.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/dance/18.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/dance/19.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/dance/20.jpg"><div class="inner"></div></a>
    </div>
  </div>
</div>