<div class="pic-container">
  <div class="events-wrapper">
    <div class="column">
      <a class="fancybox" href="/assets/events/1.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/events/2.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/events/3.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/events/4.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/events/5.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/events/6.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/events/7.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/events/8.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/events/9.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/events/10.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/events/11.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/events/12.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/events/13.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/events/14.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/events/15.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/events/16.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/events/17.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/events/18.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/events/19.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/events/20.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/events/21.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/events/22.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/events/23.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/events/24.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/events/25.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/events/26.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/events/27.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/events/28.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/events/29.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/events/30.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/events/31.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/events/32.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/events/33.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/events/34.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/events/35.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/events/36.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/events/37.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/events/38.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/events/39.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/events/40.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/events/41.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/events/42.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/events/43.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/events/44.jpg"><div class="inner"></div></a>
    </div>
  </div>
</div>