<div class="pic-container">
  <div class="events-wrapper">
    <div class="column">
      <div class="inner"></div>
    </div>
    <div class="column">
      <div class="inner"></div>
    </div>
    <div class="column">
      <div class="inner"></div>
    </div>
    <div class="column">
      <div class="inner"></div>
    </div>
    <div class="column">
      <div class="inner"></div>
    </div>
    <div class="column">
      <div class="inner"></div>
    </div>
    <div class="column">
      <div class="inner"></div>
    </div>
    <div class="column">
      <div class="inner"></div>
    </div>
    <div class="column">
      <div class="inner"></div>
    </div>
    <div class="column">
      <div class="inner"></div>
    </div>
    <div class="column">
      <div class="inner"></div>
    </div>
    <div class="column">
      <div class="inner"></div>
    </div>
    <div class="column">
      <div class="inner"></div>
    </div>
    <div class="column">
      <div class="inner"></div>
    </div>
    <div class="column">
      <div class="inner"></div>
    </div>
    <div class="column">
      <div class="inner"></div>
    </div>
    <div class="column">
      <div class="inner"></div>
    </div>
    <div class="column">
      <div class="inner"></div>
    </div>
    <div class="column">
      <div class="inner"></div>
    </div>
    <div class="column">
      <div class="inner"></div>
    </div>
    <div class="column">
      <div class="inner"></div>
    </div>
    <div class="column">
      <div class="inner"></div>
    </div>
    <div class="column">
      <div class="inner"></div>
    </div>
    <div class="column">
      <div class="inner"></div>
    </div>
    <div class="column">
      <div class="inner"></div>
    </div>
    <div class="column">
      <div class="inner"></div>
    </div>
    <div class="column">
      <div class="inner"></div>
    </div>
    <div class="column">
      <div class="inner"></div>
    </div>
    <div class="column">
      <div class="inner"></div>
    </div>
    <div class="column">
      <div class="inner"></div>
    </div>
    <div class="column">
      <div class="inner"></div>
    </div>
    <div class="column">
      <div class="inner"></div>
    </div>
    <div class="column">
      <div class="inner"></div>
    </div>
    <div class="column">
      <div class="inner"></div>
    </div>
    <div class="column">
      <div class="inner"></div>
    </div>
    <div class="column">
      <div class="inner"></div>
    </div>
    <div class="column">
      <div class="inner"></div>
    </div>
    <div class="column">
      <div class="inner"></div>
    </div>
    <div class="column">
      <div class="inner"></div>
    </div>
    <div class="column">
      <div class="inner"></div>
    </div>
    <div class="column">
      <div class="inner"></div>
    </div>
    <div class="column">
      <div class="inner"></div>
    </div>
    <div class="column">
      <div class="inner"></div>
    </div>
    <div class="column">
      <div class="inner"></div>
    </div>
  </div>
</div>