<div id="film-container">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/hiKiGUd8Foc" frameborder="0" allowfullscreen></iframe>
  <div class="white-space"></div>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/pADv091Se64" frameborder="0" allowfullscreen></iframe>
</div>