<div class="pic-container">
  <div id="feature">FEATURED</div>
  <div class="wrapper">
    <div class="column">
      <a class="fancybox" href="/assets/neilfeature1.jpg"><div class="inner"></div>
    </div></a>
    <div class="column">
      <a class="fancybox" href="/assets/kellyfeature1.jpg"><div class="inner"></div>
    </div></a>
    <div class="column">
      <a class="fancybox" href="/assets/sleepyfeature1.jpg"><div class="inner"></div>
    </div></a>
    <div class="column">
      <a class="fancybox" href="/assets/ericafeature.jpg"><div class="inner erica"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/bahnahfeature.jpg"><div class="inner"></div>
    </div></a>
    <div class="column">
      <a class="fancybox" href="/assets/jeaninefeature.jpg"><div class="inner"></div>
    </div></a>
    <div class="column">
      <a class="fancybox" href="/assets/seitafeature.jpg"><div class="inner"></div>
    </div></a>
    <div class="column">
      <a class="fancybox" href="/assets/homelessfeature.jpg"><div class="inner"></div>
    </div></a>
    <div class="column">
      <a class="fancybox" href="/assets/dr-wilkes-feature-21.jpg"><div class="inner"></div>
    </div></a>
    <div class="column">
      <a class="fancybox" href="/assets/freeze-long-exposure-feature1.jpg"><div class="inner"></div>
    </div></a>
    <div class="column">
      <a class="fancybox" href="/assets/3feature.jpg"><div class="inner"></div>
    </div></a>
    <div class="column">
      <a class="fancybox" href="/assets/7feature.jpg"><div class="inner"></div>
    </div></a>
    <div class="column">
      <a class="fancybox" href="/assets/pmtfeature2.jpg"><div class="inner"></div>
    </div></a>
    <div class="column">
      <a class="fancybox" href="/assets/edafeature21-2.jpg"><div class="inner eda"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/pmtfeature1.jpg"><div class="inner"></div>
    </div></a>
    <div class="column">
      <a class="fancybox" href="/assets/fdrfeature1.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/reyansfeature1.jpg"><div class="inner"></div>
    </div></a>
    <div class="column">
      <a class="fancybox" href="/assets/danceattitudefeature1.jpg"><div class="inner"></div>
    </div></a>
  </div>
</div>
