<div class="pic-container">
  <div class="portraits-wrapper">
    <div class="column">
      <a class="fancybox" href="/assets/portraits/1.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/portraits/2.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/portraits/3.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/portraits/4.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/portraits/5.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/portraits/6.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/portraits/7.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/portraits/8.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/portraits/9.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/portraits/10.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/portraits/11.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/portraits/12.jpg"><div class="inner"></div></a>
    </div>
  </div>
</div>