<div class="pic-container">
  <div class="street-wrapper">
    <div class="column">
      <a class="fancybox" href="/assets/street/1.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/street/2.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/street/3.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/street/4.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/street/5.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/street/6.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/street/7.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/street/8.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/street/9.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/street/10.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/street/11.jpg"><div class="inner"></div></a>
    </div>
    <div class="column">
      <a class="fancybox" href="/assets/street/12.jpg"><div class="inner"></div></a>
    </div>
  </div>
</div>