// when hover over, do you want highlight or darken or nothing?
// need to fix hover link for submenu

// application.html.erb
  header {
    font-family: 'Nothing You Could Do';
    font-size: 40px;
    margin-top: 2%;
    margin-bottom: 1%;
    text-align: center;
  }

  a {
    color: #000;
    text-decoration: none !important;
  }

  #feature {
    margin-left: 2px;
    font-size: 24px;
    font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    letter-spacing: 3px;
    color: #696969;
  }

  .icons {
    top: 0;
    text-align: center;
    padding-bottom: 5px;
  }

  .fa-instagram, .fa-envelope-o {
    color: #808080;
  }

  .navbar {
    background-color: white;
    border: none;
  }

  .navbar-nav {
    width: 100%;
    text-align: center;
    > li {
      float: none;
      display: inline-block;
      font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
      font-size: 11px;
      letter-spacing: 3px;
    }
  }

  .dropdown-menu {
    width: 100%;
    > li {
      font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
      font-size: 11px;
      letter-spacing: 3px;
    }
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }

  .dropdown-menu > li > a:hover {
      background-color: transparent;
      color: #000;
      font-weight: bold;
      font-size: 105%;
  }


  .navbar-default .navbar-nav > .active > a, 
  .navbar-default .navbar-nav > .active > a:hover, 
  .navbar-default .navbar-nav > .active > a:focus {
    background: white;
    border-bottom: 2px solid #bdbdbd;
  }

// index pg
  .pic-container {
    width: 99%;
    margin: auto;
  }

  .wrapper {
    position: relative;
  }

  .wrapper:after {
    padding-top: 42.85714285714287%;
    display: block;
    content: '';
  }

  .wrapper .column {
    position: absolute;
    left: 0;
    top: 0;
    width: 14.2857142857142857%;
    float: left;
    padding: 4px;
    box-sizing: border-box;
  }

  .wrapper .column .inner {
    width: 100%;
    position: relative;
  }

  .wrapper .column .inner:after {
    padding-top: 100%;
    /* ratio 1:1 */
    display: block;
    content: '';
  }

  .wrapper .column .inner:before {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
    background-color: rgba(0, 0, 0, 0);
  }
  .wrapper .column .inner:hover:before {
    background-color: rgba(0, 0, 0, 0);
  }

  // neil
  .wrapper .column:nth-child(1) {
    width: 50%;
  }

  // anabelle
  .wrapper .column:nth-child(5) {
    left: 50%;
    width: 25%;
    top: 0;
  }

  // jeanine
  .wrapper .column:nth-child(6) {
    left: auto;
    width: 25%;
    right: 0;
    top: 0;
  }

  // seita
  .wrapper .column:nth-child(7) {
    left: 50%;
    width: 50%;
    top: 116.5%;
    -webkit-transform: translateY(-50%);
  }

  // erica
  .wrapper .column:nth-child(4) {
    width: 25%;
    top: 116.5%;
  }

  .wrapper .column .erica {
    padding-top: 103%;
    /* ratio 1:1 */
    display: block;
    content: '';
  }

  // sleepy
  .wrapper .column:nth-child(3) {
    left: 25%;
    width: 25%;
    top: 116.5%;
  }

  // freeze
  .wrapper .column:nth-child(10) {
    top: 175%;
    left: 25%;
    width: 50%;
  }

  // homeless
  .wrapper .column:nth-child(8) {
    left: 75%;
    width: 25%;
    top: 175%;
  }

  // wilkes
  .wrapper .column:nth-child(9) {
    width: 25%;
    top: 233%;
    left: 75%;
  }

  // 7feature
  .wrapper .column:nth-child(12) {
    top: 233%;
    width: 25%;
  }

  // kelly
  .wrapper .column:nth-child(2) {
    top: 291.5%;
    width: 25%;
  }

  // 3feature
  .wrapper .column:nth-child(11) {
    top: 291.5%;
    left: 25%;
    width: 25%;
  }

  // pmtfeature2
  .wrapper .column:nth-child(13) {
    top: 291.5%;
    left: 50%;
    width: 25%;
  }

  // eda
  .wrapper .column:nth-child(14) {
    top: 291.5%;
    left: 75%;
    width: 25%;
  }

  .wrapper .column .eda {
    padding-top: 103%;
  }

  // pmtfeature1
  .wrapper .column:nth-child(15) {
    top: 349.5%;
    width: 50%;
  }

  // fdrfeature1
  .wrapper .column:nth-child(16) {
    top: 349.5%;
    left: 50%;
    width: 25%;
  }

  // reyansfeature1
  .wrapper .column:nth-child(17) {
    top: 408%;
    left: 50%;
    width: 25%;
  }

  // danceattitude
  .wrapper .column:nth-child(18) {
    top: 408%;
    left: 75%;
    width: 25%;
  }

  .wrapper .column .inner {
    background-size: cover;
    background-position: center;
  }

  .wrapper .column:nth-child(1) .inner {
    background-image: url('/assets/neilfeature1.jpg');
  }

  .wrapper .column:nth-child(2) .inner {
    background-image: url('/assets/kellyfeature1.jpg');
  }

  .wrapper .column:nth-child(3) .inner {
    background-image: url('/assets/sleepyfeature1.jpg');
  }

  .wrapper .column:nth-child(4) .inner {
    background-image: url('/assets/ericafeature.jpg');
  }

  .wrapper .column:nth-child(5) .inner {
    background-image: url('/assets/bahnahfeature.jpg');
  }

  .wrapper .column:nth-child(6) .inner {
    background-image: url('/assets/jeaninefeature.jpg');
  }

  .wrapper .column:nth-child(7) .inner {
    background-image: url('/assets/seitafeature.jpg');
  }

  .wrapper .column:nth-child(8) .inner {
    background-image: url('/assets/homelessfeature.jpg');
  }

  .wrapper .column:nth-child(9) .inner {
    background-image: url('/assets/dr-wilkes-feature-21.jpg');
  }

  .wrapper .column:nth-child(10) .inner {
    background-image: url('/assets/freeze-long-exposure-feature1.jpg');
  }

  .wrapper .column:nth-child(11) .inner {
    background-image: url('/assets/3feature.jpg');
  }

  .wrapper .column:nth-child(12) .inner {
    background-image: url('/assets/7feature.jpg');
  }

  .wrapper .column:nth-child(13) .inner {
    background-image: url('/assets/pmtfeature2.jpg');
  }

  .wrapper .column:nth-child(14) .inner {
    background-image: url('/assets/edafeature21-2.jpg');
  }

  .wrapper .column:nth-child(15) .inner {
    background-image: url('/assets/pmtfeature1.jpg');
  }

  .wrapper .column:nth-child(16) .inner {
    background-image: url('/assets/fdrfeature1.jpg');
  }

  .wrapper .column:nth-child(17) .inner {
    background-image: url('/assets/reyansfeature1.jpg');
  }

  .wrapper .column:nth-child(18) .inner {
    background-image: url('/assets/danceattitudefeature1.jpg');
  }

// filmography pg
  .other-container {
    width: 75%;
    margin: auto;
    padding-top: 2%;
    text-align: center; 
    padding-bottom: 2%;
  }

  .white-space {
    padding-top: 2%;
  }

// about pg
  .pic img {
    max-height: 100%;
    max-width: 100%;
  }

  p {
    font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    font-size: 13px;
    letter-spacing: 0.5px;
    color: #696969;
  }

  .bio {
    text-align: left;
  }

// contact pg
  .contact-container {
    width: 40%;
    margin: auto;
    padding-top: 2%;
    text-align: center;
  }

// dance pg
  .dance-wrapper {
    position: relative;
  }

  .dance-wrapper:after {
    padding-top: 42.85714285714287%;
    display: block;
    content: '';
  }

  .dance-wrapper .column {
    position: absolute;
    left: 0;
    top: 0;
    width: 14.2857142857142857%;
    float: left;
    padding: 4px;
    box-sizing: border-box;
  }

  .dance-wrapper .column .inner {
    width: 100%;
    position: relative;
  }

  .dance-wrapper .column .inner:after {
    padding-top: 100%;
    display: block;
    content: '';
  }

  .dance-wrapper .column .inner:before {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
  }

  .dance-wrapper .column:nth-child(1) {
    width: 25%;
  }

  .dance-wrapper .column:nth-child(2) {
    width: 25%;
    left: 25%;
  }

  .dance-wrapper .column:nth-child(3) {
    width: 25%;
    left: 50%;
  }

  .dance-wrapper .column:nth-child(4) {
    width: 25%;
    left: 75%;
  }

  .dance-wrapper .column:nth-child(5) {
    width: 25%;
    top: 58.25%;
  }

  .dance-wrapper .column:nth-child(6) {
    width: 25%;
    left: 25%;
    top: 58.25%;
  }

  .dance-wrapper .column:nth-child(7) {
    width: 25%;
    left: 50%;
    top: 58.25%;
  }

  .dance-wrapper .column:nth-child(8) {
    width: 25%;
    left: 75%;
    top: 58.25%;
  }

  .dance-wrapper .column:nth-child(9) {
    width: 25%;
    top: 116.5%;
  }

  .dance-wrapper .column:nth-child(10) {
    width: 25%;
    left: 25%;
    top: 116.5%;
  }

  .dance-wrapper .column:nth-child(11) {
    width: 25%;
    left: 50%;
    top: 116.5%;
  }

  .dance-wrapper .column:nth-child(12) {
    width: 25%;
    left: 75%;
    top: 116.5%;
  }

  .dance-wrapper .column:nth-child(13) {
    width: 25%;
    top: 174.75%;
  }

  .dance-wrapper .column:nth-child(14) {
    width: 25%;
    left: 25%;
    top: 174.75%;
  }

  .dance-wrapper .column:nth-child(15) {
    width: 25%;
    left: 50%;
    top: 174.75%;
  }

  .dance-wrapper .column:nth-child(16) {
    width: 25%;
    left: 75%;
    top: 174.75%;
  }

  .dance-wrapper .column:nth-child(17) {
    width: 25%;
    top: 233%;
  }

  .dance-wrapper .column:nth-child(18) {
    width: 25%;
    left: 25%;
    top: 233%;
  }

  .dance-wrapper .column:nth-child(19) {
    width: 25%;
    left: 50%;
    top: 233%;
  }

  .dance-wrapper .column:nth-child(20) {
    width: 25%;
    left: 75%;
    top: 233%;
  }

  .dance-wrapper .column .inner {
    background-size: cover;
    background-position: center;
  }

  .dance-wrapper .column:nth-child(1) .inner {
    background-image: url('/assets/dance/1.jpg');
  }

  .dance-wrapper .column:nth-child(2) .inner {
    background-image: url('/assets/dance/2.jpg');
  }

  .dance-wrapper .column:nth-child(3) .inner {
    background-image: url('/assets/dance/3.jpg');
  }

  .dance-wrapper .column:nth-child(4) .inner {
    background-image: url('/assets/dance/4.jpg');
  }

  .dance-wrapper .column:nth-child(5) .inner {
    background-image: url('/assets/dance/5.jpg');
  }

  .dance-wrapper .column:nth-child(6) .inner {
    background-image: url('/assets/dance/6.jpg');
  }

  .dance-wrapper .column:nth-child(7) .inner {
    background-image: url('/assets/dance/7.jpg');
  }

  .dance-wrapper .column:nth-child(8) .inner {
    background-image: url('/assets/dance/8.jpg');
  }

  .dance-wrapper .column:nth-child(9) .inner {
    background-image: url('/assets/dance/9.jpg');
  }

  .dance-wrapper .column:nth-child(10) .inner {
    background-image: url('/assets/dance/10.jpg');
  }

  .dance-wrapper .column:nth-child(11) .inner {
    background-image: url('/assets/dance/11.jpg');
  }

  .dance-wrapper .column:nth-child(12) .inner {
    background-image: url('/assets/dance/12.jpg');
  }

  .dance-wrapper .column:nth-child(13) .inner {
    background-image: url('/assets/dance/13.jpg');
  }

  .dance-wrapper .column:nth-child(14) .inner {
    background-image: url('/assets/dance/14.jpg');
  }

  .dance-wrapper .column:nth-child(15) .inner {
    background-image: url('/assets/dance/15.jpg');
  }

  .dance-wrapper .column:nth-child(16) .inner {
    background-image: url('/assets/dance/16.jpg');
  }

  .dance-wrapper .column:nth-child(17) .inner {
    background-image: url('/assets/dance/17.jpg');
  }

  .dance-wrapper .column:nth-child(18) .inner {
    background-image: url('/assets/dance/18.jpg');
  }

  .dance-wrapper .column:nth-child(19) .inner {
    background-image: url('/assets/dance/19.jpg');
  }

  .dance-wrapper .column:nth-child(20) .inner {
    background-image: url('/assets/dance/20.jpg');
  }

// street pg
  .street-wrapper {
    position: relative;
  }

  .street-wrapper:after {
    padding-top: 42.85714285714287%;
    display: block;
    content: '';
  }

  .street-wrapper .column {
    position: absolute;
    left: 0;
    top: 0;
    width: 14.2857142857142857%;
    float: left;
    padding: 4px;
    box-sizing: border-box;
  }

  .street-wrapper .column .inner {
    width: 100%;
    position: relative;
  }

  .street-wrapper .column .inner:after {
    padding-top: 100%;
    display: block;
    content: '';
  }

  .street-wrapper .column .inner:before {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
  }

  .street-wrapper .column:nth-child(1) {
    width: 25%;
  }

  .street-wrapper .column:nth-child(2) {
    width: 25%;
    left: 25%;
  }

  .street-wrapper .column:nth-child(3) {
    width: 25%;
    left: 50%;
  }

  .street-wrapper .column:nth-child(4) {
    width: 25%;
    left: 75%;
  }

  .street-wrapper .column:nth-child(5) {
    width: 25%;
    top: 58.25%;
  }

  .street-wrapper .column:nth-child(6) {
    width: 25%;
    left: 25%;
    top: 58.25%;
  }

  .street-wrapper .column:nth-child(7) {
    width: 25%;
    left: 50%;
    top: 58.25%;
  }

  .street-wrapper .column:nth-child(8) {
    width: 25%;
    left: 75%;
    top: 58.25%;
  }

  .street-wrapper .column:nth-child(9) {
    width: 25%;
    top: 116.5%;
  }

  .street-wrapper .column:nth-child(10) {
    width: 25%;
    left: 25%;
    top: 116.5%;
  }

  .street-wrapper .column:nth-child(11) {
    width: 25%;
    left: 50%;
    top: 116.5%;
  }

  .street-wrapper .column:nth-child(12) {
    width: 25%;
    left: 75%;
    top: 116.5%;
  }

  .street-wrapper .column .inner {
    background-size: cover;
    background-position: center;
  }

  .street-wrapper .column:nth-child(1) .inner {
    background-image: url('/assets/street/1.jpg');
  }

  .street-wrapper .column:nth-child(2) .inner {
    background-image: url('/assets/street/2.jpg');
  }

  .street-wrapper .column:nth-child(3) .inner {
    background-image: url('/assets/street/3.jpg');
  }

  .street-wrapper .column:nth-child(4) .inner {
    background-image: url('/assets/street/4.jpg');
  }

  .street-wrapper .column:nth-child(5) .inner {
    background-image: url('/assets/street/5.jpg');
  }

  .street-wrapper .column:nth-child(6) .inner {
    background-image: url('/assets/street/6.jpg');
  }

  .street-wrapper .column:nth-child(7) .inner {
    background-image: url('/assets/street/7.jpg');
  }

  .street-wrapper .column:nth-child(8) .inner {
    background-image: url('/assets/street/8.jpg');
  }

  .street-wrapper .column:nth-child(9) .inner {
    background-image: url('/assets/street/9.jpg');
  }

  .street-wrapper .column:nth-child(10) .inner {
    background-image: url('/assets/street/10.jpg');
  }

  .street-wrapper .column:nth-child(11) .inner {
    background-image: url('/assets/street/11.jpg');
  }

  .street-wrapper .column:nth-child(12) .inner {
    background-image: url('/assets/street/12.jpg');
  }

// portraits pg
  .portraits-wrapper {
    position: relative;
  }

  .portraits-wrapper:after {
    padding-top: 42.85714285714287%;
    display: block;
    content: '';
  }

  .portraits-wrapper .column {
    position: absolute;
    left: 0;
    top: 0;
    width: 14.2857142857142857%;
    float: left;
    padding: 4px;
    box-sizing: border-box;
  }

  .portraits-wrapper .column .inner {
    width: 100%;
    position: relative;
  }

  .portraits-wrapper .column .inner:after {
    padding-top: 100%;
    display: block;
    content: '';
  }

  .portraits-wrapper .column .inner:before {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
  }

  .portraits-wrapper .column:nth-child(1) {
    width: 25%;
  }

  .portraits-wrapper .column:nth-child(2) {
    width: 25%;
    left: 25%;
  }

  .portraits-wrapper .column:nth-child(3) {
    width: 25%;
    left: 50%;
  }

  .portraits-wrapper .column:nth-child(4) {
    width: 25%;
    left: 75%;
  }

  .portraits-wrapper .column:nth-child(5) {
    width: 25%;
    top: 58.25%;
  }

  .portraits-wrapper .column:nth-child(6) {
    width: 25%;
    left: 25%;
    top: 58.25%;
  }

  .portraits-wrapper .column:nth-child(7) {
    width: 25%;
    left: 50%;
    top: 58.25%;
  }

  .portraits-wrapper .column:nth-child(8) {
    width: 25%;
    left: 75%;
    top: 58.25%;
  }

  .portraits-wrapper .column:nth-child(9) {
    width: 25%;
    top: 116.5%;
  }

  .portraits-wrapper .column:nth-child(10) {
    width: 25%;
    left: 25%;
    top: 116.5%;
  }

  .portraits-wrapper .column:nth-child(11) {
    width: 25%;
    left: 50%;
    top: 116.5%;
  }

  .portraits-wrapper .column:nth-child(12) {
    width: 25%;
    left: 75%;
    top: 116.5%;
  }

  .portraits-wrapper .column .inner {
    background-size: cover;
    background-position: center;
  }

  .portraits-wrapper .column:nth-child(1) .inner {
    background-image: url('/assets/portraits/1.jpg');
  }

  .portraits-wrapper .column:nth-child(2) .inner {
    background-image: url('/assets/portraits/2.jpg');
  }

  .portraits-wrapper .column:nth-child(3) .inner {
    background-image: url('/assets/portraits/3.jpg');
  }

  .portraits-wrapper .column:nth-child(4) .inner {
    background-image: url('/assets/portraits/4.jpg');
  }

  .portraits-wrapper .column:nth-child(5) .inner {
    background-image: url('/assets/portraits/5.jpg');
  }

  .portraits-wrapper .column:nth-child(6) .inner {
    background-image: url('/assets/portraits/neil.jpg');
  }

  .portraits-wrapper .column:nth-child(7) .inner {
    background-image: url('/assets/portraits/7.jpg');
  }

  .portraits-wrapper .column:nth-child(8) .inner {
    background-image: url('/assets/portraits/8.jpg');
  }

  .portraits-wrapper .column:nth-child(9) .inner {
    background-image: url('/assets/portraits/9.jpg');
  }

  .portraits-wrapper .column:nth-child(10) .inner {
    background-image: url('/assets/portraits/10.jpg');
  }

  .portraits-wrapper .column:nth-child(11) .inner {
    background-image: url('/assets/portraits/11.jpg');
  }

  .portraits-wrapper .column:nth-child(12) .inner {
    background-image: url('/assets/portraits/12.jpg');
  }

// events pg
  .events-wrapper {
    position: relative;
  }

  .events-wrapper:after {
    padding-top: 42.85714285714287%;
    display: block;
    content: '';
  }

  .events-wrapper .column {
    position: absolute;
    left: 0;
    top: 0;
    width: 14.2857142857142857%;
    float: left;
    padding: 4px;
    box-sizing: border-box;
  }

  .events-wrapper .column .inner {
    width: 100%;
    position: relative;
  }

  .events-wrapper .column .inner:after {
    padding-top: 100%;
    display: block;
    content: '';
  }

  .events-wrapper .column .inner:before {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
  }

  .events-wrapper .column:nth-child(3) {
    width: 25%;
  }

  .events-wrapper .column:nth-child(4) {
    width: 25%;
    left: 25%;
  }

  .events-wrapper .column:nth-child(5) {
    width: 25%;
    left: 50%;
  }

  .events-wrapper .column:nth-child(6) {
    width: 25%;
    left: 75%;
  }

  .events-wrapper .column:nth-child(7) {
    width: 25%;
    top: 58.25%;
  }

  .events-wrapper .column:nth-child(8) {
    width: 25%;
    left: 25%;
    top: 58.25%;
  }

  .events-wrapper .column:nth-child(9) {
    width: 25%;
    left: 50%;
    top: 58.25%;
  }

  .events-wrapper .column:nth-child(10) {
    width: 25%;
    left: 75%;
    top: 58.25%;
  }

  .events-wrapper .column:nth-child(11) {
    width: 25%;
    top: 116.5%;
  }

  .events-wrapper .column:nth-child(12) {
    width: 25%;
    left: 25%;
    top: 116.5%;
  }

  .events-wrapper .column:nth-child(13) {
    width: 25%;
    left: 50%;
    top: 116.5%;
  }

  .events-wrapper .column:nth-child(14) {
    width: 25%;
    left: 75%;
    top: 116.5%;
  }

  .events-wrapper .column:nth-child(15) {
    width: 25%;
    top: 174.75%;
  }

  .events-wrapper .column:nth-child(16) {
    width: 25%;
    left: 25%;
    top: 174.75%;
  }

  .events-wrapper .column:nth-child(17) {
    width: 25%;
    left: 50%;
    top: 174.75%;
  }

  .events-wrapper .column:nth-child(1) {
    width: 25%;
    left: 75%;
    top: 174.75%;
  }

  .events-wrapper .column:nth-child(2) {
    width: 25%;
    top: 233%;
  }

  .events-wrapper .column:nth-child(18) {
    width: 25%;
    left: 25%;
    top: 233%;
  }

  .events-wrapper .column:nth-child(19) {
    width: 25%;
    left: 50%;
    top: 233%;
  }

  .events-wrapper .column:nth-child(20) {
    width: 25%;
    left: 75%;
    top: 233%;
  }

  .events-wrapper .column:nth-child(21) {
    width: 25%;
    top: 291.25%;
  }

  .events-wrapper .column:nth-child(22) {
    width: 25%;
    left: 25%;
    top: 291.25%;
  }

  .events-wrapper .column:nth-child(23) {
    width: 25%;
    left: 50%;
    top: 291.25%;
  }

  .events-wrapper .column:nth-child(24) {
    width: 25%;
    left: 75%;
    top: 291.25%;
  }

  .events-wrapper .column:nth-child(25) {
    width: 25%;
    top: 349.5%;
  }

  .events-wrapper .column:nth-child(26) {
    width: 25%;
    left: 25%;
    top: 349.5%;
  }

  .events-wrapper .column:nth-child(27) {
    width: 25%;
    left: 50%;
    top: 349.5%;
  }

  .events-wrapper .column:nth-child(28) {
    width: 25%;
    left: 75%;
    top: 349.5%;
  }

  .events-wrapper .column:nth-child(29) {
    width: 25%;
    top: 407.75%;
  }

  .events-wrapper .column:nth-child(30) {
    width: 25%;
    left: 25%;
    top: 407.75%;
  }

  .events-wrapper .column:nth-child(31) {
    width: 25%;
    left: 50%;
    top: 407.75%;
  }

  .events-wrapper .column:nth-child(32) {
    width: 25%;
    left: 75%;
    top: 407.75%;
  }

  .events-wrapper .column:nth-child(33) {
    width: 25%;
    top: 466%;
  }

  .events-wrapper .column:nth-child(34) {
    width: 25%;
    left: 25%;
    top: 466%;
  }

  .events-wrapper .column:nth-child(35) {
    width: 25%;
    left: 50%;
    top: 466%;
  }

  .events-wrapper .column:nth-child(36) {
    width: 25%;
    left: 75%;
    top: 466%;
  }

  .events-wrapper .column:nth-child(37) {
    width: 25%;
    top: 524.2%;
  }

  .events-wrapper .column:nth-child(38) {
    width: 25%;
    left: 25%;
    top: 524.2%;
  }

  .events-wrapper .column:nth-child(39) {
    width: 25%;
    left: 50%;
    top: 524.2%;
  }

  .events-wrapper .column:nth-child(40) {
    width: 25%;
    left: 75%;
    top: 524.2%;
  }

  .events-wrapper .column:nth-child(41) {
    width: 25%;
    top: 582.6%;
  }

  .events-wrapper .column:nth-child(42) {
    width: 25%;
    left: 25%;
    top: 582.6%;
  }

  .events-wrapper .column:nth-child(43) {
    width: 25%;
    left: 50%;
    top: 582.6%;
  }

  .events-wrapper .column:nth-child(44) {
    width: 25%;
    left: 75%;
    top: 582.6%;
  }

  .events-wrapper .column .inner {
    background-size: cover;
    background-position: center;
  }

  .events-wrapper .column:nth-child(1) .inner {
    background-image: url('/assets/events/1.jpg');
  }

  .events-wrapper .column:nth-child(2) .inner {
    background-image: url('/assets/events/2.jpg');
  }

  .events-wrapper .column:nth-child(3) .inner {
    background-image: url('/assets/events/3.jpg');
  }

  .events-wrapper .column:nth-child(4) .inner {
    background-image: url('/assets/events/4.jpg');
  }

  .events-wrapper .column:nth-child(5) .inner {
    background-image: url('/assets/events/5.jpg');
  }

  .events-wrapper .column:nth-child(6) .inner {
    background-image: url('/assets/events/6.jpg');
  }

  .events-wrapper .column:nth-child(7) .inner {
    background-image: url('/assets/events/7.jpg');
  }

  .events-wrapper .column:nth-child(8) .inner {
    background-image: url('/assets/events/8.jpg');
  }

  .events-wrapper .column:nth-child(9) .inner {
    background-image: url('/assets/events/9.jpg');
  }

  .events-wrapper .column:nth-child(10) .inner {
    background-image: url('/assets/events/10.jpg');
  }

  .events-wrapper .column:nth-child(11) .inner {
    background-image: url('/assets/events/11.jpg');
  }

  .events-wrapper .column:nth-child(12) .inner {
    background-image: url('/assets/events/12.jpg');
  }

  .events-wrapper .column:nth-child(13) .inner {
    background-image: url('/assets/events/13.jpg');
  }

  .events-wrapper .column:nth-child(14) .inner {
    background-image: url('/assets/events/14.jpg');
  }

  .events-wrapper .column:nth-child(15) .inner {
    background-image: url('/assets/events/15.jpg');
  }

  .events-wrapper .column:nth-child(16) .inner {
    background-image: url('/assets/events/16.jpg');
  }

  .events-wrapper .column:nth-child(17) .inner {
    background-image: url('/assets/events/17.jpg');
  }

  .events-wrapper .column:nth-child(18) .inner {
    background-image: url('/assets/events/18.jpg');
  }

  .events-wrapper .column:nth-child(19) .inner {
    background-image: url('/assets/events/19.jpg');
  }

  .events-wrapper .column:nth-child(20) .inner {
    background-image: url('/assets/events/20.jpg');
  }

  .events-wrapper .column:nth-child(21) .inner {
    background-image: url('/assets/events/21.jpg');
  }

  .events-wrapper .column:nth-child(22) .inner {
    background-image: url('/assets/events/22.jpg');
  }

  .events-wrapper .column:nth-child(23) .inner {
    background-image: url('/assets/events/23.jpg');
  }

  .events-wrapper .column:nth-child(24) .inner {
    background-image: url('/assets/events/24.jpg');
  }

  .events-wrapper .column:nth-child(25) .inner {
    background-image: url('/assets/events/25.jpg');
  }

  .events-wrapper .column:nth-child(26) .inner {
    background-image: url('/assets/events/26.jpg');
  }

  .events-wrapper .column:nth-child(27) .inner {
    background-image: url('/assets/events/27.jpg');
  }

  .events-wrapper .column:nth-child(28) .inner {
    background-image: url('/assets/events/28.jpg');
  }

  .events-wrapper .column:nth-child(29) .inner {
    background-image: url('/assets/events/29.jpg');
  }

  .events-wrapper .column:nth-child(30) .inner {
    background-image: url('/assets/events/30.jpg');
  }

  .events-wrapper .column:nth-child(31) .inner {
    background-image: url('/assets/events/31.jpg');
  }

  .events-wrapper .column:nth-child(32) .inner {
    background-image: url('/assets/events/32.jpg');
  }

  .events-wrapper .column:nth-child(33) .inner {
    background-image: url('/assets/events/33.jpg');
  }

  .events-wrapper .column:nth-child(34) .inner {
    background-image: url('/assets/events/34.jpg');
  }

  .events-wrapper .column:nth-child(35) .inner {
    background-image: url('/assets/events/35.jpg');
  }

  .events-wrapper .column:nth-child(36) .inner {
    background-image: url('/assets/events/36.jpg');
  }

  .events-wrapper .column:nth-child(37) .inner {
    background-image: url('/assets/events/37.jpg');
  }

  .events-wrapper .column:nth-child(38) .inner {
    background-image: url('/assets/events/38.jpg');
  }

  .events-wrapper .column:nth-child(39) .inner {
    background-image: url('/assets/events/39.jpg');
  }

  .events-wrapper .column:nth-child(40) .inner {
    background-image: url('/assets/events/40.jpg');
  }

  .events-wrapper .column:nth-child(41) .inner {
    background-image: url('/assets/events/41.jpg');
  }

  .events-wrapper .column:nth-child(42) .inner {
    background-image: url('/assets/events/42.jpg');
  }

  .events-wrapper .column:nth-child(43) .inner {
    background-image: url('/assets/events/43.jpg');
  }

  .events-wrapper .column:nth-child(44) .inner {
    background-image: url('/assets/events/44.jpg');
  }